<!DOCTYPE html>

<html>
    <head>
        <title>Yammer Hackathon</title>
        <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css">
    </head>

    <body>
        <div id="login">
        <div class="container">
            
            <form method="link" action="/login">
                <input id="button_login" type="submit" value="Login with Yammer">
            </form>
<!--             <a href="/login">Login with Yammer</a>
 -->        </div>
    </div>

    </body>
</html>



